.Category__Sidebar{
    width: 50%;
    height: 400px;
    padding: 5px;
    margin: 25px 20px 35px 25px;
    border: 1px solid black;
    border-radius: 5px;
    color: #041E42;
    background-color: #F5F5F5F5;

    ul{ font-size: 14px;
        list-style-type: none;

    }
    li{
        display: flex;
        flex-direction: row;
        padding: 5px;

    }

}
.Icon_cate{
    list-style-type: none;
    background: none;
    border: none;

}